<html>
    <head>
        <link href="https://surveyjs.azureedge.net/0.12.18/survey.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <div id="surveyContainer"></div>
        <div class='introduction'>


        </div>

        <div class='question'>
            <label>How many promotion emails do you receive daily?</label>
            <!-- SELECT -->
        </div>
        <div class='question'>
            <label>How many promotion emails do you open daily?</label>
            <!-- SELECT -->
        </div>
        <div class='question'>
            <label>What is the most important ..?</label>
            <!-- SELECT -->
        </div>
        <div class='question'>

        </div>



        <div id='container'>container</div>
        <script src="assets/js/goodEmails.js"></script>
        <script src="https://surveyjs.azureedge.net/0.12.18/survey.react.min.js"></script>
        <!--<script src="assets/js/index.js"></script>-->
    </body>


</html>