<!DOCTYPE html>
<html>
    <head>
        <title>what is title</title>
        <link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">        
        <link rel="stylesheet" href="assets/css/style.css">        
            
    </style>
    </head>
    <body>
        <div id='container'>container</div>
        <div id='surveyElement'></div>
        <div class='footer'>
            <div class='footer_content'>
                &copy; 2017 Adobe Systems Incorporated. All Rights Reserved.
            </div>
        </div>
        <script src="assets/bundles/main.bundle.js"></script>

        <!--<script src="assets/js/index.js"></script>-->
    </body>


</html>
